html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Libre Franklin", sans-serif;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  margin-right: 65px;
}

.presentation {
  display: flex;
  flex-direction: row;
  margin: 0px;
  margin-left: 1%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50px;
  top: 7px;
}

.skill {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 0px;
  margin-right: 1%;
}

.all-skill:hover {
  color: rgb(209, 212, 43);
}

.all-skill {
  text-decoration: none;
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
}
.all-skill :visited {
  text-decoration: none;
}

#title {
  font-size: 64px;
  text-align: center;
}

.bx {
  font-size: 60px;
  color: red;
}

.center {
  text-align: center;
}

.picture {
  width: 100%;
  height: 94.2vh;
  background-image: url("../assets/3239439.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.logo {
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: 300ms;
  transform: scale(1.2);
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.5);
}

.name {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 400px;
  background-color: rgba(239, 245, 251, 0.8431372549);
  border-radius: 10px;
}
.name .height-name {
  height: 80px;
}

.title {
  text-align: justify;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.image-flex {
  display: flex;
}

.matete {
  background-image: url("../assets/thumbnail_IMG_9878.jpg");
  background-position: -330px -20px;
  background-size: 120%;
  object-fit: contain;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.description {
  margin-top: 75px;
  text-align: justify;
}

.competence-bg {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.competence-bg .image {
  width: 40%;
}
.competence-bg .image:hover {
  transform: scale(1.1);
}

.logo-competence {
  width: 80%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  color: white;
}

h5 {
  margin: 0px;
  padding: 0px;
}

.images {
  width: 8%;
}
.images:hover {
  transform: scale(1.2);
}

.title-competence {
  background-color: black;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-left: 5%;
  color: white;
}

.reveal {
  background-color: black;
  height: 100%;
}

.experience {
  padding-top: 20px;
  margin-bottom: 0px;
  padding-left: 5%;
  color: black;
}

.project {
  padding-top: 20px;
  margin-bottom: 0px;
  padding-left: 5%;
  color: black;
}

/*# sourceMappingURL=style.css.map */
