/* Error: expected "{".
 *     ,
 * 216 | >>>>>>> 7d5566ff225782639bb3e750a5db4484b33f83d5
 *     |                                                 ^
 *     '
 *   sass\style.scss 216:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 216 \2502  >>>>>>> 7d5566ff225782639bb3e750a5db4484b33f83d5\d\a     \2502                                                  ^\a     \2575 \a   sass\\style.scss 216:49  root stylesheet';
}
